#
# APPLICATION
#
PORT = 3000
LOG_LEVEL=error
#
# DATABASE
#
DB_USERNAME=root
DB_PASSWORD=sqlpass
DB_NAME=trello
DB_HOST=localhost
DB_DIALECT=mysql
DB_PORT=3306
#
# AUTHENTICATION
#
SECRET_KEY=secretkey